// input

.input-group {
  position: relative;

  & .input::placeholder {
    color: transparent;
  }

  & .input:disabled~.label {
    color: var(--grey-color);
  }

  & .input:placeholder-shown~.label {
    font-weight: 600;
    font-size: rem(16);
    line-height: rem(22);
    color: var(--grey-color);
    top: em(20);
  }

  & .label {
    position: absolute;
    top: em(-12);
    left: em(20);
    display: block;
    padding: 0 em(5);
    background-color: var(--white-color);
    overflow: hidden;
    z-index: 2;
    transition: 0.2s;
    pointer-events: none;
    font-family: var(--font-main);
    font-weight: 600;
    font-size: rem(11);
    line-height: rem(15);
    color: var(--text-color);
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 1;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    display: -webkit-box;
    display: box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
  }

  & .input:focus~.label {
    position: absolute;
    top: em(-12);
    left: em(20);
    display: block;
    padding: 0 em(5);
    transition: 0.2s;
    pointer-events: none;
    font-family: var(--font-main);
    font-weight: 600;
    font-size: rem(11);
    line-height: rem(15);
    color: var(--text-color);
  }

}

.input-group__list {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  padding: rem(10) 0;
  transform: translateY(100%);
  background-color: var(--white-color);
  border: 1px solid #ddd;
  border-radius: 10px;
  z-index: 3;
}

.input-group__item {
  width: 100%;
  padding: rem(10) rem(20);
  outline: 0;
  background-color: var(--white-color);
  border-radius: 10px;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.375rem;
  color: var(--text-color);
  cursor: pointer;
}

.input-group__item:hover {
  background-color: var(--main-color-hover);
  color: var(--white-color);
}

.input {
  width: 100%;
  padding: em(20);
  border: 1px solid #DDDDDD;
  outline: 0;
  border-radius: 10px;
  background-color: var(--white-color);
  font-weight: 600;
  font-size: rem(16);
  line-height: rem(22);
  color: var(--text-color);

  &::placeholder {
    font-family: var(--font-main);
    font-weight: 600;
    font-size: rem(16);
    line-height: rem(22);
    color: var(--grey-color);
  }

  &:focus {
    border: 1px solid var(--main-color);
  }

  &:disabled {
    user-select: none;
    pointer-events: none;
    color: var(--grey-color);
  }

  &.js_error {
    border: 1px solid var(--red-color);
    color: var(--red-color);

    &~.password-view svg path {
      stroke: var(--red-color);
    }
  }

  &.js_error::placeholder {
    color: var(--red-color);
  }

  &.js_error~.label {
    color: var(--red-color);
  }

  &.js_error:focus~.label {
    color: var(--red-color);
  }

}

//radio

.radio-group {
  display: flex;
  align-items: center;

  @media (max-width: $breakpoint768) {
    flex-wrap: wrap;
  }
}

.radio-type {
  margin-right: em(40);

  @media (max-width: $breakpoint768) {
    flex: 0 1 100%;
    margin-right: 0;
    margin-bottom: em(10);
  }
}

.radio-label {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: em(7);

  &:hover .radio-decor {
    border-color: var(--main-color);
  }

  &:focus .radio-decor::after {
    content: '';
  }

  .radio-input:checked:hover~.radio-decor {
    border-color: var(--main-color-hover);
  }

  .radio-input:focus~.radio-decor::after {
    content: '';
  }
}

.radio-input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  z-index: -100;

  &:disabled~.radio-decor {
    background-color: var(--grey-color-2);
    border: 1px solid var(--grey-color-2);
  }

  &:disabled~.radio-descr {
    color: var(--grey-color);
  }

  &:checked~.radio-decor {
    border: 6px solid var(--main-color);
  }

  &:checked:disabled~.radio-decor {
    background-color: var(--grey-color-2);
    border-color: var(--grey-color);
  }

  &:checked:disabled:hover~.radio-decor {
    background-color: var(--grey-color-2);
    border-color: var(--grey-color);
  }

  &.js_error~.radio-decor {
    border: 1px solid var(--red-color);

  }

  &.js_error~.radio-descr {
    color: var(--red-color);
  }

}

.radio-decor {
  position: relative;
  width: rem(25);
  height: rem(25);
  border-radius: 100%;
  border: 2px solid var(--grey-color);
  border-radius: 24px;
  background-color: var(--white-color);

  &::after {
    // content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: calc(100% + 2px);
    height: calc((100% + 2px));
    background: rgba(50, 136, 180, 0.3);
    z-index: -1;
  }
}

.radio-descr {
  font-weight: 600;
  font-size: rem(16);
  line-height: rem(22);
  color: var(--text-color);
}

.swich-label {}

.swich-input {

  &:disabled~.swich-decor {
    background-color: #DDDDDD;
    opacity: 0.3;
    cursor: default;
  }

  &:disabled:hover~.swich-decor {
    border: 1px solid transparent;
    cursor: default;
  }

  &:checked:disabled~.swich-decor {
    background: #DDDDDD;
  }

  &:checked:hover~.swich-decor {
    background-color: var(--main-color-hover);
  }
}

.swich-decor {}

.swich-label {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: em(33);
  height: em(20);

  &:hover .swich-decor {
    border: 1px solid var(--main-color);
  }

  &:focus .swich-decor {
    border: 1px solid rgba(50, 136, 180, 0.3);
  }
}

.swich-label .swich-input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  z-index: -100;
}

.swich-decor {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--grey-color);
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 30px;
  border: 1px solid transparent;
  cursor: pointer;
}

.swich-decor:before {
  position: absolute;
  content: "";
  height: em(15);
  width: em(15);
  border-radius: 100%;
  left: 0.1em;
  bottom: 0.1em;
  background-color: var(--white-color);
  -webkit-transition: .4s;
  transition: .4s;
}

.swich-input:checked+.swich-decor::before {
  background-color: var(--white-color);
}

.swich-input:checked+.swich-decor {
  background-color: var(--main-color);
}

.swich-input:checked+.swich-decor:before {
  transform: translateX(em(12));
}